<!DOCTYPE html>
<html>
<head>
  <title>Hello world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {{#if data}}
    {{! Data from server to client }}
    <script>
      window.__SV_DATA__ = {{{json data}}}
    </script>
  {{/if}}
  <div id="root"></div>
  <script></script>
</body>
</html>